<p>
  <mat-toolbar color="primary">
    <span>FUNDACION CRISTO REDENTOR</span>
  </mat-toolbar>
</p>

<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened class="draMenu">


    <button
              mat-button
              [matMenuTriggerFor]="fundacion"
              class="btnMenu"
              >
              Menu Fundación
            </button>

    <mat-menu #fundacion="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="Quines_Somos">Fundacion</button>
      <button mat-menu-item [matMenuTriggerFor]="servicios">Servicios</button>
      <button mat-menu-item>CONTACTO</button>
      <button mat-menu-item>CORREO</button>
    </mat-menu>


    <mat-menu #Quines_Somos="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="somos">Somos</button>
      <button mat-menu-item [matMenuTriggerFor]="direccion">Dirección</button>

    </mat-menu>

    <mat-menu #servicios="matMenu">
      <button mat-menu-item>Alojamiento</button>
      <button mat-menu-item>Comida</button>
      <button mat-menu-item disabled >Bientar Social</button>
    </mat-menu>

    <mat-menu #somos="matMenu">
      <button mat-menu-item [routerLink]="'somos'">Somos</button>
      <button mat-menu-item [routerLink]="''">Visión</button>
      <button mat-menu-item [routerLink]="''">Misión</button>
    </mat-menu>

    <mat-menu #direccion="matMenu">
      <button mat-menu-item>Director</button>
      <button mat-menu-item>Junta Directiva</button>
      <button mat-menu-item>Fundadores</button>
      <button mat-menu-item [routerLink]="'esal'">Esal</button>
    </mat-menu>


  </mat-drawer>
  <mat-drawer-content>

    <router-outlet></router-outlet>

  </mat-drawer-content>
</mat-drawer-container>
