<footer>

<div class="container-footer-all">

      <div class="container-body">
            <div class="column">
                  <h1>Mas información de la fundación</h1>

                  <p>La Fundación Cristo Redentor les agradece, por la participación en la suscripción al canal de youtube, gran actividad en la redes sociales  en procura de una vida saludable a nuestros adultos mayores. </p>

            </div>

            <div class="column">
                  <h1>Redes Sociales</h1>

                  <div class="row">
                    <img src="">
                    <label>Siguenos en Facebook</label>
                  </div>

                  <div class="row">
                    <img src="/favicon.ico">
                    <label>Siguenos en Facebook</label>
                  </div>

                                  
            </div>

            <div class="column">
              <h1>Informacion de Contacto</h1>

              <div class="rowContacto">
                  <img src="">
                  <label>Bucaramanga, Calle 42 # 13 - 52 </label>
              </div>
              
              <div class="rowContacto">
                <img src="">
                <label>secretaria@fundacioncristoredentor.org </label>
              </div>

            </div>

      </div>
      <div class="container-footer">
        <div class="copyright">
          @{{anio}} todos los derechos Reservados
        </div>
      </div>

</div>

</footer>
